@page "/home"

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
    <h1>Bienvenido a la Academia!</h1>
    
    <p>Selecciona una opción del menú para comenzar.</p>
    
    <img src="../../la_academia.png" alt="foto_la_academia" class="img-fluid" style="max-width: 400px;" />
</div>
