<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Academia</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="persona">
                <span class="bi-person-vcard-fill" aria-hidden="true"></span> Persona
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="inscripcion">
                <span class="bi-receipt" aria-hidden="true"></span> Inscripcion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="usuario">
                <span class="bi-person-circle" aria-hidden="true"></span> Usuario
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="plan">
                <span class="bi-calendar-event" aria-hidden="true"></span> Plan
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="especialidad">
                <span class="bi-award" aria-hidden="true"></span> Especialidad
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="materia">
                <span class="bi-journal" aria-hidden="true"></span> Materia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="comision">
                <span class="bi-archive" aria-hidden="true"></span> Comisión
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="curso">
                <span class="bi-chat-dots" aria-hidden="true"></span> Curso
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="docente">
                <span class="bi-person-exclamation" aria-hidden="true"></span> Docente
            </NavLink>
        </div>

    </nav>
</div>

