@using Domain.services
@inject AuthServiceScoped AuthServiceScoped
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Academia</a>
    </div>
</div>

@if (AuthServiceScoped.Usuario?.Tipo=="Admin")
{
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/persona" Match="NavLinkMatch.All">
                    <span class="bi-person-vcard-fill" aria-hidden="true"></span> Persona
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/inscripcion" Match="NavLinkMatch.All">
                    <span class="bi-receipt" aria-hidden="true"></span> Inscripcion
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/usuario" Match="NavLinkMatch.All">
                    <span class="bi-person-circle" aria-hidden="true"></span> Usuario
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/plan" Match="NavLinkMatch.All">
                    <span class="bi-calendar-event" aria-hidden="true"></span> Plan
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/especialidad" Match="NavLinkMatch.All">
                    <span class="bi-award" aria-hidden="true"></span> Especialidad
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/materia" Match="NavLinkMatch.All">
                    <span class="bi-journal" aria-hidden="true"></span> Materia
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/comision" Match="NavLinkMatch.All">
                    <span class="bi-archive" aria-hidden="true"></span> Comisión
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/curso" Match="NavLinkMatch.All">
                    <span class="bi-chat-dots" aria-hidden="true"></span> Curso
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="admin/docente" Match="NavLinkMatch.All">
                    <span class="bi-person-exclamation" aria-hidden="true"></span> Docente
                </NavLink>
            </div>

        </nav>
    </div>
}
@if (AuthServiceScoped.Usuario?.Tipo == "Usuario")
{
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/persona" Match="NavLinkMatch.All">
                    <span class="bi-person-vcard-fill" aria-hidden="true"></span> Persona
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/inscripcion" Match="NavLinkMatch.All">
                    <span class="bi-receipt" aria-hidden="true"></span> Inscripcion
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/usuario" Match="NavLinkMatch.All">
                    <span class="bi-person-circle" aria-hidden="true"></span> Usuario
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/plan" Match="NavLinkMatch.All">
                    <span class="bi-calendar-event" aria-hidden="true"></span> Plan
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/especialidad" Match="NavLinkMatch.All">
                    <span class="bi-award" aria-hidden="true"></span> Especialidad
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/materia" Match="NavLinkMatch.All">
                    <span class="bi-journal" aria-hidden="true"></span> Materia
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/comision" Match="NavLinkMatch.All">
                    <span class="bi-archive" aria-hidden="true"></span> Comisión
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/curso" Match="NavLinkMatch.All">
                    <span class="bi-chat-dots" aria-hidden="true"></span> Curso
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-icon" href="usuario/docente" Match="NavLinkMatch.All">
                    <span class="bi-person-exclamation" aria-hidden="true"></span> Docente
                </NavLink>
            </div>

        </nav>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        // Suscribirse al evento de cambio de estado
        AuthServiceScoped.OnChange += StateHasChanged;
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    
    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        // Fuerza al componente a re-evaluar los @if y los NavLinks
        InvokeAsync(StateHasChanged); //el InvokeAsync usarlo siempre que haya eventos externos que cambien el UI
                                      //se hace para que lo capture el hilo correcto, el dispatch del UI
    }

    public void Dispose()
    {
        // Desuscribirse del evento al destruir el componente
        AuthServiceScoped.OnChange -= StateHasChanged;
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
